<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Dashboard</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css">
    <!-- chart monitoring -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="icon" type="image/png" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqjVnfhnYx20AuWB9d_biaOLRdo8sQCyFxiQ&s">
</head>
<body>
    <div class="main">
        <nav class="navbar navbar-dark bg-nav">
            <h2>AA</h2>
            <button type="button" class="btn btn-light shadow" id="myBtn">Connect</button>
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header" style="padding:35px 50px;">
                            <h4 class="modal-title" style="color: black;">Connect SSH</h4>
                        </div>
                        <div class="modal-body" style="padding:40px 50px;">
                            <form id="connectForm">
                                <div class="form-group">
                                    <label for="ipserver" style="color: black;">IP Server</label>
                                    <input type="text" class="form-control" id="ipserver" placeholder="Enter IP Server" required>
                                </div>
                                <div class="form-group">
                                    <label for="username" style="color: black;">Username</label>
                                    <input type="text" class="form-control" id="username" placeholder="Enter Username" required>
                                </div>
                                <div class="form-group">
                                    <label for="psw" style="color: black;">Password</label>
                                    <input type="password" class="form-control" id="psw" placeholder="Enter Password" required>
                                </div>
                                <button type="submit" class="btn btn-cstm btn-block" style="color: white;">Connect</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger-cstm btn-default pull-left text-white" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                        </div>
                    </div>
                </div>
            </div> 
        </nav>
        
        <div class="container-fluid mt-3">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col-md-4 text-center">
                    <p id="uptime">Active: 0</p>
                </div>
                <div class="col-md-4 text-center">
                    <p id="os_name">OS: 0</p>
                </div>
                <div class="col-md-4 text-center">
                    <p id="users">:User  0</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="card bg-cstm-cart p-2 shadow">
                        <div class="card-body">
                            <div>CPU usage</div>
                            <p id="cpu-usage">0%</p>
                        </div>
                        <div class="progress">
                            <div id="cpu-progress" class="progress-bar progress-bar-custom" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card bg-cstm-cart p-2 shadow">
                        <div class="card-body">
                            <div>Memory usage</div>
                            <p id="ram-usage">0%</p>
                        </div>
                        <div class="progress">
                            <div id="ram-progress" class="progress-bar progress-bar-custom" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card bg-cstm-cart p-2 shadow">
                        <div class="card-body">
                            <div>Disk space</div>
                            <p id="disk-space">0%</p>
                        </div>
                        <div class="progress">
                            <div id="disk-progress" class="progress-bar progress-bar-custom" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card bg-cstm-cart p-1 shadow">
                        <div class="card-body">
                            <div>Load average</div>
                        </div>
                        <div class="explain">
                            <p class="pl-4" id="load-average">0</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <button id="toggleButton" type="button" class="btn btn-light shadow m-4">More</button>
        </div>
    
        <div id="chartSection" style="display: none;">
            <section class="py-3 py-md-5">
                <div class="container-fluid">
                    <div class="row d-flex">
                        <div class="col-12 col-md-6 d-flex">
                            <div class="card flex-grow-1 shadow">
                                <div class="card-body">
                                    <h6 class="card-title text-center">Memory Usage</h6>
                                </div>
                                <canvas id="memory-chart" width="400" height="200"></canvas>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 d-flex">
                            <div class="card flex-grow-1 shadow">
                                <div class="card-body">
                                    <h6 class="card-title text-center">CPU Usage</h6>
                                </div>
                                <canvas id="cpu-chart" width="400" height="200"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- maintanenct -->
    <div class="container-fluid mt-5">
        <h1 class="text-center mb-4 text-dark">Maintenance</h1>
    
        <div class="row main">
            <div class="col-md-6">
                <div class="maintenance-card card bg-light p-3 shadow">
                    <h5>Clean Temporary Files</h5>
                    <p>Membersihkan file sementara di direktori /tmp.</p>
                    <button id="clean-temp" class="btn btn-cstm">Clean Temporary Files</button>
                    <div id="clean-output" class="log-area"></div>
                </div>
                <div class="maintenance-card card bg-light p-3 shadow">
                    <h5>Update Packages</h5>
                    <p>Memperbarui paket sistem menggunakan apt.</p>
                    <button id="update-packages" class="btn btn-cstm">Update Packages</button>
                    <div id="update-output" class="log-area"></div>
                </div>
            </div>
    
            <div class="col-md-6">
                <div class="card bg-light p-3 shadow">
                    <h5>Check Logs</h5>
                    <p>Menampilkan 50 baris terakhir dari syslog.</p>
                    <button id="check-logs" class="btn btn-cstm mb-3">Check Logs</button>
                    <div id="log-output" class="log-area"></div>
                </div>
            </div>
        </div>
    </div>
    
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <script src="static/script.js"></script>
        <!-- chart monitoring -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </body>
</html>